{% extends 'home.html' %}

{% block title %}Places{% endblock %}

{% block content %}
<div class="font-mono">
    <div class="">
        <h1 class="mb-4 bg-gray-700 py-0.5 px-6 text-lg font-semibold text-gray-200">Place Details</h1>
        <div class="px-4">
            <div class="flex ">
                <img class="p-2 bg-gray-200 mr-10 w-1/2 rounded" src="{{ place.photo.url }}" alt="{{place.photo.name}}">
                <div class="space-y-2">
                    <div>
                        Uploaded by: {{place.user|capfirst}}
                    </div>
                    <div>
                        Start-time: {{place.created_at}}
                    </div>
                    <div>
                        End-time: {{place.end_time}}
                    </div>
                    {% if not allow_comments %}
                        <div>
                            Location: {{place.location|capfirst}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="p-4">
        {% if not allow_comments %}
            <!-- Winners Section -->
            <div class="mt-8">
                <h2 class="text-lg font-semibold mb-4 bg-gray-400 px-4 py-2 rounded-md">Winners</h2>
                <ul>
                    {% for winner in winners %}
                        <li class="flex items-center mb-4 px-4 py-2 border">
                            <div class="bg-gray-200 rounded-full h-10 w-10 flex items-center justify-center mr-4">
                                <span class="text-gray-600 font-semibold text-lg">{{ forloop.counter }}</span>
                            </div>
                            <div>
                                <p class="text-gray-700 font-semibold">{{ winner.user.username|capfirst }}  {% if comment.user == user %}(You){% endif %}</p>
                            </div>
                        </li>
                    {% empty %}
                        <li class="text-gray-700  mb-4 px-4 py-2 border">No winner.</li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <!-- Comment Form -->
            <div class="mt-6">
                {% if not has_commented %}
                    <h2 class="text-lg font-semibold mb-4 bg-gray-400 px-4 py-2 rounded-md">Leave a Comment</h2>
                    <divs class="mb-4 p-1">
                        <div class="mb-4">
                            <label for="{{ form.text.id_for_label }}" class="block text-gray-700 font-semibold mb-2">Your Comment</label>
                            {{ form.text }}
                        </div>
                        <div>
                            <button type="submit" class="bg-blue-500 text-white font-semibold py-1 px-3 rounded hover:bg-blue-600">
                                Add Comment
                            </button>
                        </div>
                    </div>
                {% else %}
                    <p class="text-gray-700 bg-gray-300 p-2">You have already commented on this place.</p>
                {% endif %}
            </div>

            <!-- Comments Section -->
            <div class="mt-8">
                <h2 class="text-lg font-semibold mb-4 bg-gray-400 px-4 py-2 rounded-md">Comments</h2>
                <ul>
                    {% for comment in place.comment_set.all %}
                        <li class="flex items-center justify-between mb-4 px-4 py-2 border">
                            <div class="flex items-center">
                                <div class="bg-gray-200 rounded-full h-10 w-10 flex items-center justify-center mr-4">
                                    <span class="text-gray-600 font-semibold text-lg">{{ comment.user.username|slice:"0:1" }}</span>
                                </div>
                                <div>
                                    <p class="text-gray-700 font-semibold">{{ comment.user.username|capfirst }}  {% if comment.user == user %}(You){% endif %}</p>
                                    <p class="text-gray-600 text-end">Comment: {{ comment.text|capfirst }}</p>
                                </div>
                            </div>
                            <p class="text-gray-600">{{ comment.created_at|date }}</p>
                        </li>
                    {% empty %}
                        <li class="text-gray-700  mb-4 px-4 py-2 border">No comments yet.</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}